.msg {
  display: none;
  padding: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: 10rem;
  margin-left: -5rem;
  margin-top: -3rem;
  text-align: center;
}

.msg > .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  background: #000;
  opacity: .66;
}

.msg > .content {
  position: relative;
  z-index: 101;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #fff;
}

.icon-arrow-right {
  background-image: url(../images/sprite.png);
  background-position: -174px -102px;
  width: 9px;
  height: 16px;
}

.icon-badge {
  background-image: url(../images/sprite.png);
  background-position: -106px 0px;
  width: 36px;
  height: 36px;
}

.icon-book {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 32px;
  height: 32px;
}

.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: -112px -120px;
  width: 30px;
  height: 32px;
}

.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -174px -54px;
  width: 24px;
  height: 24px;
}

.icon-coin_orange {
  background-image: url(../images/sprite.png);
  background-position: -174px -79px;
  width: 22px;
  height: 22px;
}

.icon-crown {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 45px;
}

.icon-earth {
  background-image: url(../images/sprite.png);
  background-position: -73px -46px;
  width: 32px;
  height: 32px;
}

.icon-email {
  background-image: url(../images/sprite.png);
  background-position: -130px -153px;
  width: 32px;
  height: 24px;
}

.icon-exit {
  background-image: url(../images/sprite.png);
  background-position: -143px 0px;
  width: 30px;
  height: 32px;
}

.icon-lock_gray {
  background-image: url(../images/sprite.png);
  background-position: -143px -33px;
  width: 26px;
  height: 32px;
}

.icon-menu_01 {
  background-image: url(../images/sprite.png);
  background-position: -143px -120px;
  width: 30px;
  height: 30px;
}

.icon-menu_02 {
  background-image: url(../images/sprite.png);
  background-position: -163px -153px;
  width: 30px;
  height: 22px;
}

.icon-menu_03 {
  background-image: url(../images/sprite.png);
  background-position: -33px -120px;
  width: 22px;
  height: 32px;
}

.icon-menu_04 {
  background-image: url(../images/sprite.png);
  background-position: -64px -153px;
  width: 32px;
  height: 26px;
}

.icon-menu_05 {
  background-image: url(../images/sprite.png);
  background-position: -79px -120px;
  width: 32px;
  height: 32px;
}

.icon-menu_06 {
  background-image: url(../images/sprite.png);
  background-position: 0px -153px;
  width: 30px;
  height: 28px;
}

.icon-menu_07 {
  background-image: url(../images/sprite.png);
  background-position: -174px 0px;
  width: 28px;
  height: 28px;
}

.icon-menu_08 {
  background-image: url(../images/sprite.png);
  background-position: -97px -153px;
  width: 32px;
  height: 24px;
}

.icon-onlyuser {
  background-image: url(../images/sprite.png);
  background-position: 0px -83px;
  width: 95px;
  height: 36px;
}

.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -56px -120px;
  width: 22px;
  height: 32px;
}

.icon-refresh {
  background-image: url(../images/sprite.png);
  background-position: -31px -153px;
  width: 32px;
  height: 27px;
}

.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -174px -29px;
  width: 24px;
  height: 24px;
}

.icon-star_on {
  background-image: url(../images/sprite.png);
  background-position: -65px 0px;
  width: 40px;
  height: 40px;
}

.icon-tips {
  background-image: url(../images/sprite.png);
  background-position: -96px -83px;
  width: 32px;
  height: 32px;
}

.icon-user {
  background-image: url(../images/sprite.png);
  background-position: 0px -46px;
  width: 72px;
  height: 36px;
}

.icon-user_gray {
  background-image: url(../images/sprite.png);
  background-position: -143px -66px;
  width: 28px;
  height: 32px;
}

.icon-user_orange {
  background-image: url(../images/sprite.png);
  background-position: -106px -37px;
  width: 32px;
  height: 32px;
}

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  color: #333;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 20px;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  background: #f1f1f1;
}

body.light {
  background: #f2f2f2;
}

:focus {
  outline: 1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

img {
  display: block;
  width: 100%;
}

small {
  font-size: 0.65rem;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
  color: #eb711c;
}

b {
  font-weight: normal;
}

i, em {
  font-style: normal;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  border: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

/* custom font size */
h1, h2, h3 {
  padding: 0.5rem;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.7rem;
}

sub, sup {
  position: relative;
  right: 8%;
  top: -50%;
  display: inline-block;
  padding-right: 0.1rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  background: #ff6633;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 0.65rem;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *height: 1%;
}

.overflow-hidden {
  height: 100%;
  overflow: hidden !important;
}

.triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-width: 0.2rem 0.4rem;
  font-size: 0;
  overflow: hidden;
}

.triangle.left {
  border-style: dashed solid dashed dashed;
  border-color: transparent #333 transparent transparent;
}

.triangle.right {
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #333;
}

.triangle.top {
  border-width: 0.4rem 0.2rem;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #333 transparent;
}

.triangle.bottom {
  border-width: 0.4rem 0.2rem;
  border-style: solid dashed dashed dashed;
  border-color: #333 transparent transparent transparent;
}

/* margin & padding */
.mb-10 {
  margin-bottom: 0.5rem !important;
}

.mb-20 {
  margin-bottom: 1rem !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-1r {
  margin-bottom: 1rem !important;
}

.mt-2r {
  margin-top: 2rem !important;
}

.ml-1r {
  margin-left: 1rem !important;
}

.ml-2r {
  margin-left: 2rem !important;
}

.mr-2r {
  margin-right: 2rem !important;
}

.mb-3r {
  margin-bottom: 3rem !important;
}

.mt-3r {
  margin-top: 3rem !important;
}

.ml-3r {
  margin-left: 3rem !important;
}

.mr-3r {
  margin-right: 3rem !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-1r {
  margin-right: 1rem !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-10 {
  padding: 0.5rem !important;
}

.padding-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.input {
  vertical-align: middle;
  padding: 0.4rem;
  border-radius: 0.15rem;
  border: 1px solid #ddd;
  font-size: 0.65rem;
}

.btn-wrap {
  padding: 1rem 0;
  clear: both;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1.25rem;
  text-align: center;
  background: #09db76;
  border: 1px solid #09db76;
  border-radius: 0.15rem;
  white-space: nowrap;
  font-size: 0.9rem;
  line-height: 1.3;
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  background: #999;
  border-color: #999;
}

.btn-white {
  background: #fff;
  border: 1px solid #ddd;
  color: #999;
}

.btn-blue {
  border: 1px solid #00a5ed;
  background: #00a5ed;
  color: #fff;
}

.btn-orange {
  border: 1px solid #ff9c00;
  background: #ff9c00;
  color: #fff;
}

.btn-lg {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
}

.btn-m {
  min-width: 4.5rem;
  font-size: 0.7rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
}

.btn-round {
  border-radius: 1.25rem;
}

.btn-shadow {
  box-shadow: 2px 3px 10px #f0c582;
}

.btn-white.btn-shadow {
  box-shadow: 0 0 10px #ddd;
}

.block {
  display: block !important;
}

.form-item {
  margin-bottom: 20px;
}

.txtinput {
  padding: 12px 12px;
  border: 1px solid #fff;
}

.txtinput-block {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 1rem;
  width: 4rem !important;
  height: 0.8rem;
}

.radio-wrap > .radio-input {
  position: relative;
  display: block;
  width: 2rem;
  height: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f1f1f1;
}

.radio-wrap > .radio-input > input {
  opacity: 0;
}

.radio-wrap > .radio-input > i {
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.15rem;
  background: #09db76;
  border-radius: 50%;
  box-shadow: 0 0.15rem 0.25rem #7efdc0;
}

.radio-wrap > b {
  position: absolute;
  top: 0.05rem;
  display: block;
  width: 1rem;
  white-space: nowrap;
}

.radio-wrap > b.first {
  left: 0;
  text-align: left;
}

.radio-wrap > b.second {
  text-align: right;
  right: 0;
}

.radio-wrap.left > b.first {
  color: #09db76;
}

.radio-wrap.left > .radio-input > i {
  left: -0.1rem;
}

.radio-wrap.right > b.second {
  color: #09db76;
}

.radio-wrap.right > .radio-input > i {
  right: -0.1rem;
}

/* colors */
.lightmore {
  color: #999;
}

.text-black {
  color: #000 !important;
}

.text-orange {
  color: #ff9c00 !important;
}

.text-lightmost {
  color: #ddd !important;
}

.text-green {
  color: #09db76 !important;
}

/* lay out */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* other */
.number {
  font-size: 0.8rem;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.word-nowrap {
  white-space: nowrap;
  font-size: 0.7rem;
}

.word-nowrap > .btn {
  margin-left: 0.5rem;
  font-size: 0.7rem;
}

.bg-white {
  background-color: #fff !important;
}

.bg-gray {
  background-color: #f1f1f1 !important;
}

img.round {
  border-radius: 50%;
}

img.round.border {
  border: 1px solid #fff;
}

img.round.orange {
  border-color: #ff9c00;
}

.alert, .confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 16.5rem;
  /* left: torem(25px);
    right: torem(25px); */
  z-index: 99;
  margin-top: -3.75rem;
  margin-left: -8.25rem;
  background: #fff;
  border-radius: 10px;
}

.alert-title {
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #ff9c00;
}

.alert-main, .confirm-main {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #999;
}

.test-base64 > div {
  padding-bottom: 194px;
}

.test-base64 > div:nth-child(1) {
  background: url(../images/top_bg.png) center center no-repeat;
}

.test-base64 > div:nth-child(2) {
  background: url(../images/bg_code_bottom.png) center center no-repeat;
}

.test-base64 > div:nth-child(3) {
  background: url(../images/sprite/user_orange.png) center center no-repeat;
}

.test-base64 > div:nth-child(4) {
  background: url(../images/sprite/menu_03.png) center center no-repeat;
}

.alert-footer, .confirm-footer {
  padding: 0.5rem 1rem 1rem 1rem;
  text-align: center;
}

@media (min-width: 320px) {
  html {
    font-size: 17.06667px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 22.08px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 25.6px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 34.13333px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 40.96px;
  }
}
