.msg {
  display: none;
  padding: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: 10rem;
  margin-left: -5rem;
  margin-top: -3rem;
  text-align: center;
}

.msg > .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  background: #000;
  opacity: .66;
}

.msg > .content {
  position: relative;
  z-index: 101;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #fff;
}

.top {
  position: relative;
  background: url(../images/top_bg.png) center top no-repeat;
  background-size: contain;
}

.top > .info {
  padding: 1.5rem 0 0.75rem;
  text-align: center;
}

.top > .info > img {
  margin: 0 auto 5px;
  width: 5rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.top > .info > h3 {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-weight: normal;
}

.top > .info > h3 > span {
  vertical-align: middle;
  font-size: 1.2rem;
  color: #000;
}

.top > .info > h3 > img {
  position: absolute;
  top: 0.25rem;
  right: -2.5rem;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem;
}

.top > .info > .coin {
  padding: 0.4rem 0.5rem;
  font-size: 0.65rem;
}

.top > .info > .coin > .icon, .top > .info > .coin span {
  position: static;
  display: inline-block;
  vertical-align: middle;
}

.top > .info > .coin > span {
  margin-left: 0.25rem;
  line-height: 1.8;
  color: #999;
}

.top > .tips {
  margin: 0;
  border: 0;
  padding: 0.05rem 0.5rem 0.1rem;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 10px;
  font-size: 0.6rem;
  color: #fff;
}

.icon {
  position: absolute;
  top: 0.6rem;
  left: -1.4rem;
  width: 0.9rem;
  height: 0.9rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.icon.icon-menu-1 {
  background-image: url(../images/icon/icon_menu_01.png);
}

.icon.icon-menu-2 {
  background-image: url(../images/icon/icon_menu_02.png);
}

.icon.icon-menu-3 {
  background-image: url(../images/icon/icon_menu_03.png);
}

.icon.icon-menu-4 {
  background-image: url(../images/icon/icon_menu_04.png);
}

.icon.icon-menu-5 {
  background-image: url(../images/icon/icon_menu_05.png);
}

.icon.icon-menu-6 {
  background-image: url(../images/icon/icon_menu_06.png);
}

.icon.icon-menu-7 {
  background-image: url(../images/icon/icon_menu_07.png);
}

.icon.icon-menu-8 {
  background-image: url(../images/icon/icon_menu_08.png);
}

.icon.icon-user-orange {
  background-image: url(../images/icon/icon_user_orange.png);
}

.icon.icon-clock {
  background-image: url(../images/icon/icon_clock.png);
}

.icon.icon-book {
  background-image: url(../images/icon/icon_book.png);
}

.icon.icon-coin {
  background-image: url(../images/icon/icon_menu_01.png);
}

.icon.icon-coin-orange {
  background-image: url(../images/icon/icon_coin_orange.png);
}

.icon.icon-earth {
  background-image: url(../images/icon/icon_earth.png);
}

.icon.icon-crown {
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  background-image: url(../images/icon/icon_crown.png);
}

.icon.icon-user-gray {
  background-image: url(../images/icon/icon_user_gray.png);
}

.icon.icon-lock-gray {
  background-image: url(../images/icon/icon_lock_gray.png);
}

.icon.icon-tips {
  background-image: url(../images/icon/icon_tips.png);
}

.icon.icon-search {
  top: 0;
  left: 0;
  background-image: url(../images/icon/icon_search.png);
}

.icon.icon-exit {
  position: static;
  display: inline-block;
  vertical-align: -2px;
  background-image: url(../images/icon/icon_exit.png);
}

.icon.icon-refresh {
  position: static;
  display: inline-block;
  vertical-align: -2px;
  background-image: url(../images/icon/icon_refresh.png);
}

.icon.icon-email {
  position: static;
  display: inline-block;
  background-image: url(../images/icon/icon_email.png);
}

.icon.icon-phone {
  position: static;
  display: inline-block;
  background-image: url(../images/icon/icon_phone.png);
}

.icon.icon-close {
  background-image: url(../images/icon/icon_close.png);
}

.icon-badge {
  position: absolute;
  top: 0;
  right: -110%;
  display: inline-block;
  text-align: left;
  min-width: 5rem;
  height: 1.5rem;
  padding: 0 0 0 1.15rem;
}

.icon-badge > .icon {
  position: absolute;
  top: 0.1rem;
  left: 0;
  z-index: 9;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/icon/icon_badge.png) left center no-repeat;
  background-size: contain;
}

.icon-badge > b {
  padding: 0.05rem 0.35rem 0.1rem 0.45rem;
  border-radius: 0 0.4rem 0.4rem 0;
  font-size: 0.5rem;
  color: #fff;
  background-color: #fcb643;
}

.badge {
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
  font-size: 1rem;
  color: #fff;
}

.badge.lightblue {
  background-color: #b0e0ff;
}

.badge.orange {
  background-color: #ff9c00;
}

.badge.pink {
  background-color: #ff94b1;
}

.badge.small {
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 0.5rem;
}

.badge.xsmall {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.badge-wrap {
  margin: 0 2rem 1rem;
  display: inline-block;
  vertical-align: middle;
}

.badge-wrap > .badge {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  margin: 0 auto 0.3rem;
  background-color: #fff;
  color: #09db76;
}

.badge-wrap > .badge.green {
  border: 1px solid #09db76;
}

.badge-wrap > .badge-text {
  display: block;
  text-align: center;
  color: #000;
}

.item {
  background: #fff;
  box-shadow: 0 0 15px #ddd;
  margin-bottom: 0.75rem;
}

.item > a, .item > span {
  position: relative;
  display: block;
  padding: 0.75rem 0;
  margin: 0 0.5rem 0 2rem;
  border-bottom: 1px solid #ccc;
}

.item > a > b, .item > span > b {
  color: #000;
}

.item > a > span > b, .item > span > span > b {
  color: #999;
}

.item > a > span > i, .item > span > span > i {
  margin-left: 0.5rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: url(../images/icon/icon_arrow_right.png) center center no-repeat;
  background-size: contain;
}

.item > a:last-child, .item > span:last-child {
  border-bottom: none;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -6rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  border-radius: 6px;
  background: #fff;
}

.modal > .modal-body {
  padding: 1.5rem;
}

.modal .txtinput {
  font-size: 0.9rem;
  background: #f1f1f1;
}

.modal .btn-white {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  background: #f1f1f1;
}

.modal .btn-white:focus, .modal .btn-white:hover {
  background: #09db76;
  color: #000;
}

.modal > .modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  background: url(../images/modal-close.png) center center no-repeat;
  background-size: contain;
}

.modal.modal-static > .modal-body {
  padding: 1rem;
}

.tab .tab-head {
  margin: 20px 10px 15px;
  text-align: center;
}

.tab .tab-head > li {
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  color: #999;
}

.tab .tab-head > li > a {
  display: block;
  padding: 10px 0;
  color: #999;
  font-size: 0.9rem;
}

.tab .tab-head > li.active > a {
  color: #09db76;
  border-bottom: 1px solid #09db76;
}

.tab .tab-head > li.vline {
  padding: 0;
  font-size: 0.9rem;
}

.tab .tab-content {
  display: none;
  padding: 0.9rem 0.9rem;
}

.tab .tab-content.active {
  display: block;
}

.gift-item {
  display: block;
  position: relative;
  margin-bottom: 0.9rem;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 #ccc;
  background: #fff;
}

.gift-item:last-child {
  margin-bottom: 0;
}

.gift-item > .photo {
  position: relative;
}

.gift-item > .photo > img {
  border-radius: 5px 5px 0 0;
}

.gift-item > .photo > .mask {
  padding: 0 0.5rem;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.4rem;
  line-height: 1.4rem;
  overflow: hidden;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.gift-item > .info {
  padding: 0.5rem 0.75rem;
}

.gift-item > .info > .float-left {
  padding: 0.35rem 0;
  font-size: 0.8rem;
  color: #999;
}

.gift-item > .info .btn {
  font-size: 0.7rem;
  padding: 3px 18px 5px;
}

.gift-item > .info > .float-right > span {
  display: block;
  padding: 0.35rem 0;
  font-size: 0.8rem;
  color: #999;
}

.gift-item > .icon-badge {
  top: 0.5rem;
  right: auto;
  left: 0.5rem;
  padding-top: 0.5rem;
}

.gift-item .mask {
  height: 5.65rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.gift-item .mask > span {
  margin: 1.25rem auto;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3rem;
  text-align: center;
  display: block;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #fff;
  transform: rotate(-20deg);
}

.gift-item .mask.receive > span {
  color: #09db76;
  border-color: #09db76;
}

.gift-item .mask.notreceive > span {
  color: #ff9c00;
  border-color: #ff9c00;
}

.code-main {
  padding: 2rem 4rem;
  background: url(../images/bg_code.jpg) center 1.5rem no-repeat;
  background-size: contain;
}

.code-main > .user > img {
  width: 2.7rem;
  height: 2.7rem;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #999;
}

.code-main > .user > .txt {
  padding: 5px 10px;
  font-weight: bold;
  line-height: 1.5;
  font-size: 0.7rem;
}

.code-main > .code-wrap {
  margin: 0.5rem;
  position: relative;
  padding-bottom: 3rem;
  background: url(../images/bg_code_bottom.png) 0.5rem bottom no-repeat;
  background-size: contain;
}

.code-main > .code-wrap > .tit {
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  color: #ff9c00;
}

.code-main > .code-wrap > .code {
  padding: 0.5rem;
  border-radius: 10px;
  background: #ff9c00;
}

.code-main > .code-wrap > .code > img {
  border: 10px solid #fff;
}

.code-main > .code-wrap > .code > p {
  padding: 5px 12px 12px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  background: #fff;
}

.tips {
  margin: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  line-height: 150%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.6rem;
}

.tips > .triangle {
  position: absolute;
  top: -0.75rem;
  left: 0.5rem;
  z-index: 9;
  border-width: 0.4rem 0.3rem;
  border-color: transparent transparent #ddd transparent;
  overflow: visible;
}

.tips > .triangle > .triangle {
  z-index: 10;
  top: 0.1rem;
  left: -0.3rem;
  border-width: 0.4rem 0.3rem;
  border-color: transparent transparent #fff transparent;
}

.footer {
  padding: 2.5rem 1rem;
  text-align: center;
}

.footer.footer-code {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.15rem;
  background: url(../images/bg_bottom.png) center center no-repeat;
  background-size: contain;
}

.footer.footer-code > p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #fff;
}

.btn-group {
  padding: 0.75rem;
}

.activity-main, .scroll-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2rem;
  width: 100%;
  overflow: auto;
  background: #fff;
  font-size: 0.8rem;
}

.activity-main > .describe, .scroll-main > .describe {
  padding: 1rem 1.25rem 1.25rem 2.5rem;
}

.activity-main > .describe .list, .scroll-main > .describe .list {
  line-height: 1.6;
}

.activity-main > .describe .list > dt, .scroll-main > .describe .list > dt {
  margin-bottom: 0.25rem;
  position: relative;
  color: #ff9c00;
  font-weight: bold;
}

.activity-main > .describe .list > dt > .icon, .scroll-main > .describe .list > dt > .icon {
  width: 1.1rem;
  height: 1.1rem;
  top: 0.05rem;
  left: -1.5rem;
}

.activity-main > .describe .list > dd, .scroll-main > .describe .list > dd {
  margin-bottom: 0.5rem;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.integral-wrap > h3 {
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #ff9c00;
}

.integral-wrap > .list {
  padding: 0.5rem 0 0 0.5rem;
}

.integral-wrap > .list > li {
  position: relative;
  padding: 0.25rem;
  float: left;
  width: 5.55rem;
  height: 7.5rem;
  margin: 0 0.5rem 0.75rem 0;
  border: 4px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}

.integral-wrap > .list > li > h3 {
  padding: 0.3rem;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.3;
}

.integral-wrap > .list > li > p {
  font-size: 1rem;
}

.integral-wrap > .list > li > p > .icon {
  position: static;
  display: inline-block;
  vertical-align: middle;
}

.integral-wrap > .list > li > p > span {
  display: inline-block;
  vertical-align: middle;
  color: #ff9c00;
}

.integral-wrap > .list > li > .bg {
  display: block;
  position: absolute;
  left: 0.75rem;
  bottom: 0.5rem;
  width: 3.5rem;
  height: 2.25rem;
}

.integral-wrap > .list > li:nth-child(1) > .bg {
  background: url(../images/integral_1.png) center center no-repeat;
  background-size: contain;
}

.integral-wrap > .list > li:nth-child(2) > .bg {
  background: url(../images/integral_2.png) center center no-repeat;
  background-size: contain;
}

.integral-wrap > .list > li:nth-child(3) > .bg {
  background: url(../images/integral_3.png) center center no-repeat;
  background-size: contain;
}

.integral-wrap > .list > li:nth-child(4) > .bg {
  background: url(../images/integral_4.png) center center no-repeat;
  background-size: contain;
}

.integral-wrap > .list > li:nth-child(5) > .bg {
  background: url(../images/integral_5.png) center center no-repeat;
  background-size: contain;
}

.integral-wrap > .list > li:nth-child(6) > .bg {
  background: url(../images/integral_6.png) center center no-repeat;
  background-size: contain;
}

.scroll-main .tab > .tab-head, .integral-my .tab > .tab-head {
  margin: 0;
  padding: 0.5rem;
}

.scroll-main .tab > .tab-head > li, .integral-my .tab > .tab-head > li {
  color: #fff;
}

.scroll-main .tab > .tab-head > li > a, .integral-my .tab > .tab-head > li > a {
  color: #fff;
  border-bottom-color: #fff;
}

.scroll-main > .top > .info, .integral-my > .top > .info {
  position: relative;
  padding-top: 0.5rem;
}

.scroll-main > .top > .info > .icon-crown, .integral-my > .top > .info > .icon-crown {
  top: -0.5rem;
  left: 50%;
  margin-left: -1.6rem;
}

.scroll-main .top.notab > .info, .integral-my .top.notab > .info {
  padding-top: 1.5rem;
}

.integral-my .integral-wrap {
  background: #fff;
  border-top: 1px solid #ddd;
}

.ranking {
  padding: 0.6rem;
  border-top: 1px solid #ddd;
  background: #fff;
}

.ranking > h3 {
  margin-bottom: 0.5rem;
}

.ranking > h3 > .icon {
  position: static;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.ranking .item {
  box-shadow: none;
  margin-bottom: 1rem;
}

.ranking .item > dt {
  padding: 0 0.5rem;
  float: left;
}

.ranking .item > dt > b, .ranking .item > dt > img, .ranking .item > dt > span {
  display: inline-block;
  vertical-align: middle;
}

.ranking .item > dt > b {
  margin-right: 0.75rem;
}

.ranking .item > dt > img {
  width: 2.5rem;
  height: 2.5rem;
}

.ranking .item > dt > span {
  margin-left: 0.75rem;
  color: #999;
}

.ranking .item > dd {
  color: #000;
  padding: 0.75rem 0.5rem;
  float: right;
}

.ranking .item:nth-child(1) > dt > b, .ranking .item:nth-child(2) > dt > b, .ranking .item:nth-child(3) > dt > b {
  color: #ff9c00;
}

.ranking .item:nth-child(1) > dt > img, .ranking .item:nth-child(2) > dt > img, .ranking .item:nth-child(3) > dt > img {
  border-color: #ff9c00;
}

.ranking.noranking .item:nth-child(1) > dt > img, .ranking.noranking .item:nth-child(2) > dt > img, .ranking.noranking .item:nth-child(3) > dt > img {
  border-color: #fff;
}

.form-wrap {
  padding: 1rem;
}

.form-title {
  text-align: center;
  padding-top: 0;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
  font-weight: normal;
}

select > option {
  text-align: center;
}

.form-item {
  margin-bottom: 1rem;
}

.form-item > label {
  padding-right: 0.5rem;
  font-size: 0.9rem;
  color: #999;
}

.form-item > label > .required {
  padding: 0 0.25rem;
  color: #ff9c00;
}

.form-item > .txtinput {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #999;
}

.form-item.form-block {
  position: relative;
  display: block;
  width: 100%;
}

.form-item.form-block > .txtinput {
  display: block;
  width: 100%;
}

.form-item.form-block > label {
  display: block;
  margin-bottom: 0.4rem;
  /* 
            position: absolute;
            top: torem(5px);
            bottom: torem(5px);
            left: 0; */
  width: 100%;
  line-height: 1rem;
  color: #000;
}

.form-item.last-child {
  margin-bottom: 0;
}

.form-hasclose {
  position: relative;
}

.form-hasclose > .txtinput {
  padding-right: 2rem;
}

.form-hasclose > .icon {
  width: 0.75rem;
  top: 2.25rem;
  left: auto;
  right: 1rem;
}

.form-hasradio {
  position: relative;
}

.form-hasradio > .radio-wrap {
  position: absolute;
  top: 2.3rem;
  right: 1rem;
}

.form-hasbtn {
  position: relative;
  padding-right: 3.5rem;
}

.form-hasbtn > .btn {
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 0.7rem;
  font-size: 0.8rem;
}

.form-hasbtn.form-hasclose > .icon {
  right: 4.25rem;
}

.form-hasbtn.form-hasradio {
  position: relative;
}

.form-hasbtn.form-hasradio > .radio-wrap {
  right: 4.25rem;
}

.form-control-static {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: #ddd;
}

.form-control-static.hasicon {
  padding: 1rem 2rem;
}

.form-control-static > h3 {
  position: relative;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.form-control-static > h3 > .icon {
  position: absolute;
  top: 0;
  left: -1.25rem;
}

.form-control-static > p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #666;
}

.banner {
  display: block;
  position: relative;
}

.banner > .banner-tips {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #09db76;
}

.banner > .banner-tips > b {
  position: relative;
  display: inline-block;
  padding: 0 1.3rem 0 0;
  text-align: left;
  font-size: 0.65rem;
  background: transparent url(../images/banner_txt_bg.png) right center no-repeat;
  background-size: contain;
}

.banner > .banner-tips > b > i {
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #09db76;
}

.news-list {
  padding: 1rem !important;
}

body.login {
  background: #fff url(../images/login_top_bg.png) center top no-repeat;
  background-size: contain;
}

.login .login-top > h1 {
  margin-bottom: 2.5rem;
  padding: 2.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #fff;
}

.login .login-top > h1 > span {
  font-size: 2rem;
  color: #fff;
}

.login .login-form {
  padding: 1.5rem;
}

.login .login-form .form-item {
  margin-bottom: 0;
}

.login .login-form .form-item > .txtinput {
  padding-left: 3rem;
  border-radius: 0 0 10px 10px;
}

.login .login-form .form-item > .icon {
  top: 0.85rem;
  left: 1rem;
  width: 1.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #ddd;
  background-position: left center;
}

.login .login-form .form-item:first-child .txtinput {
  padding-left: 3rem;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.login .login-form .form-item.form-tips {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 0.5rem 2.5rem;
}

.login .login-form .form-item.form-tips > span {
  vertical-align: middle;
  color: #ff9c00;
}

.login .login-form .form-item.form-tips > span > .icon {
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.login .login-form .form-item.form-btn {
  padding: 1.5rem;
}

.switch, .tabhead {
  text-align: center;
  width: 7.5rem;
  margin: 1rem auto;
  border-radius: 4px;
  box-shadow: 0 0 10px #ddd;
}

.switch > label, .switch > a, .tabhead > label, .tabhead > a {
  display: block;
  float: left;
  padding: 0.4rem;
  width: 50%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  color: #999;
}

.switch > label:first-child, .switch > a:first-child, .tabhead > label:first-child, .tabhead > a:first-child {
  border-left: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.switch > label.active, .switch > a.active, .tabhead > label.active, .tabhead > a.active {
  background-color: #09db76;
  border-color: #09db76;
  color: #fff;
}

.switch > label > input, .switch > a > input, .tabhead > label > input, .tabhead > a > input {
  width: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.tabcontent {
  padding-bottom: 3rem;
  display: none;
}

.tabcontent .form-wrap {
  padding: 0.5rem 1rem 0;
}

.tabcontent .form-item {
  margin-bottom: 0.75rem;
}

.tabcontent .form-item > label {
  font-size: 0.7rem;
}

.search .search-form {
  margin-bottom: 1rem;
  padding: 0 1rem;
  position: relative;
}

.search .search-form .icon {
  width: 0.75rem;
  top: 0.5rem;
  left: 1.5rem;
}

.search .search-form input {
  width: 14rem;
  padding: 0.5rem 0.2rem 0.5rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
}

.search .search-form .btn-link {
  margin-left: 0.5rem;
  color: #666;
}

.search .search-result > .list > li {
  position: relative;
}

.search .search-result > .list > li > .badge {
  position: absolute;
  top: 0.4rem;
  left: 0.75rem;
}

.search .search-result > .list > li > .badge > .badge.xsmall {
  position: absolute;
  top: 0.3rem;
  right: 0;
}

.search .search-result > .list > li > .content {
  margin-left: 3.5rem;
  padding: 0.5rem 0.5rem;
  width: 15.25rem;
  border-bottom: 1px solid #ddd;
}

.search .search-result > .list > li > .content > .name > span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #000;
}

.search .search-result > .list > li > .content > .name > small {
  color: #999;
}

.search .search-result > .list > li > .content > .info {
  text-align: right;
}

.search .search-result > .list > li > .content > .info > small {
  display: block;
  margin-bottom: 0.5rem;
  color: #999;
}

.search .search-result > .list > li:last-child > .content {
  border-bottom: 0;
}

.txtform {
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 6px;
  background-color: #f6f6f6;
}

.txtform > form textarea {
  display: block;
  margin: 0 0 1rem;
  width: 100%;
  background-color: #f6f6f6;
}

.txtform > form > .form-btn {
  text-align: center;
}

.txtform > form > .form-btn > .btn {
  margin: 0 0.25rem;
  padding: 0.25rem 2.5rem;
}

.user-manage {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.user-manage .search-form {
  margin: 1rem 0;
}

.user-manage .search-form > form > input {
  width: 100%;
}

.user-manage .search-result {
  position: absolute;
  top: 4rem;
  left: 0;
  bottom: 0;
  padding-bottom: 3.5rem;
  overflow: auto;
}

.user-manage .search-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  padding: 0.75rem;
}

.timeaxis > .timeaxis-hasfloatbottom > .top {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.timeaxis > .timeaxis-hasfloatbottom > .top > .info > h3 > span {
  font-size: 0.9rem;
}

.timeaxis > .timeaxis-hasfloatbottom > .top > .info > .other {
  display: block;
  margin: 0.25rem 0;
  color: #999;
}

.timeaxis .history-tips {
  margin: 0 1rem;
  padding: 0.75rem;
  border-top: 1px solid #ddd;
}

.timeaxis .history-tips > p {
  text-align: center;
}

.timeaxis .history-tips > p > span {
  padding-right: 0.5rem;
  vertical-align: middle;
  color: #999;
}

.timeaxis .history-tips > p > .btn {
  padding: 0.25rem 0.5rem;
}

.timeaxis .list {
  margin-top: 1rem;
  padding: 1rem 1rem 0 0.5rem;
}

.timeaxis .list .axis-item {
  display: block;
  margin: 0 0 0 0.45rem;
  border-left: 1px dotted #ddd;
}

.timeaxis .list .axis-item > i {
  margin: -0.25rem 0.5rem 0 -0.3rem;
  display: inline-block;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #09db76;
}

.timeaxis .list .axis-item > .con {
  position: relative;
  top: -0.05rem;
  padding: 0 0 1.5rem;
}

.timeaxis .list .axis-item > .con > i {
  margin: -0.4rem 0.5rem 0 -0.3rem;
  display: inline-block;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #09db76;
}

.timeaxis .list .axis-item > .con > .tips {
  display: block;
  padding: 0.5rem 0.75rem;
  margin: -2.25rem 0 1rem 1rem;
  box-shadow: 0 0 8px #ddd;
}

.timeaxis .list .axis-item > .con > .tips > h3 {
  padding: 0;
  margin-bottom: 0.4rem;
}

.timeaxis .list .axis-item > .con > .tips > p {
  font-size: 0.65rem;
  color: #999;
}

.timeaxis .list .axis-item > .con > .tips > .date {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  color: #999;
}

.timeaxis .list .axis-item > .con > .tips > .triangle {
  margin-top: -0.25rem;
  top: 50%;
  left: -0.9rem;
  border-width: 0.3rem 0.4rem;
  border-color: transparent #ddd transparent transparent;
  overflow: visible;
}

.timeaxis .list .axis-item > .con > .tips > .triangle > .triangle {
  top: 50%;
  left: -0.25rem;
  border-width: 0.3rem 0.4rem;
  border-color: transparent #fff transparent transparent;
}

.timeaxis .list .axis-item:last-child > .con {
  padding: 0;
}

.timeaxis > .btn-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.timeaxis > .btn-wrap > .btn {
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  margin: 0 0.25rem;
  font-size: 0.8rem;
}

.timeaxis .timeaxis-hasfloatbottom {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
